<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Caronte_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Caronte_Client.Properties.Settings>
            <setting name="Caronte_Service_Url" serializeAs="String">
                <value>http://localhost:52838/Caronte%20Service/Caronte.asmx</value>
            </setting>
        </Caronte_Client.Properties.Settings>
    </applicationSettings>
</configuration>